<% include ../partials/header.ejs %>

<table align="center" >
	  <tr>
            <td>
                <div>
                <label>Job ID:</label>       
                </div>
            </td>
            <td>
                <div>
                <label>Company:</label>               
                </div>
            </td>
            <td>
                <div>
                <label>Job Description:</label>                
                </div>
            </td>
            <td>
                <div>
                <label>Job Location:</label>
                </div>
            </td>           
        </tr>
	<%  var counter = 0;
      data.forEach(function(Item){ 
        
    
    %>
		<form method = "post" action="/jobs/editjob">
		<tr>
            <td>
                <div>
                <input type="text" name="id" value="<%= keys[counter] %>" readonly/>
                <%counter = counter +1%>
                </div>
            </td>
            <td>
                <div>              
                <input type="text" name="itemName" value="<%= Item.company %>" readonly/>                
                </div>
            </td>
            <td>
                <div>               
                <input type="text" name="price" value="<%= Item.job_description %>" readonly/>                
                </div>
            </td>
            <td>
                <div>                
                <input type="text" name="quantity" value="<%= Item.location %>"  readonly/>                
                </div>
            </td>	
            <td>
				<div>				                
                <input type="submit" value="View Job" formaction = "/jobs/<%= keys[counter] %>" style="width: 200px"/>				
				</div>
            </td>		
            <td>
				<div>				                
                <input type="submit" value="Update Job" style="width: 200px"/>				
				</div>
            </td>
            <td>
				<div>				                
                <input type="submit" value="Delete Job" formaction = "/jobs/deletejob" style="width: 200px"/>				
				</div>
            </td>
        </tr>
		</form>
    
	<% })  %>

</table>


<% include ../partials/footer.ejs %>