<% include ../partials/header.ejs %>

<table align="center" >
	  <tr>
            <td>
                <div>
                <label>Job ID:</label>       
                </div>
            </td>
            <td>
                <div>
                <label>Company:</label>               
                </div>
            </td>
            <td>
                <div>
                <label>Job Description:</label>                
                </div>
            </td>
            <td>
                <div>
                <label>Job Location:</label>
                </div>
            </td>           
        </tr>
	<%  var counter = 0;
      data.forEach(function(Item){ 
        
    
    %>
		<form method = "post" action="/jobs/editjob">
		<tr>
            <td>
                <div>
                <input type="text" name="id" value="<%= keys[counter] %>" readonly/>
                </div>
            </td>
            <td>
                <div>              
                <input type="text" name="itemName" value="<%= Item.company %>" readonly/>                
                </div>
            </td>
            <td>
                <div>               
                <input type="text" name="price" value="<%= Item.job_description %>" readonly/>                
                </div>
            </td>
            <td>
                <div>                
                <input type="text" name="quantity" value="<%= Item.location %>"  readonly/>                
                </div>
            </td>			
            <td><a href="/jobs/<%= keys[counter] %>">View</a></td>
        </tr>
        
        
		</form>
    <%counter = counter +1%>
	<% })  %>

</table>


<% include ../partials/footer.ejs %>