<% include ../partials/header.ejs %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<table>

    <tr>
            <td>
                <div>
                <label>Job Title:</label>       
                </div>
            </td>
            <td> <%=jobData.title %>
            </td>
    </tr>

    <tr>
            <td>
                <div>
                <label>Company:</label>       
                </div>
            </td>
            <td> <%= jobData.company  %>
            </td>
    </tr>

    <tr>
            <td>
                <div>
                <label>Company Address:</label>       
                </div>
            </td>
            <td> <%=jobData.company_address  %>
            </td>
    </tr>

    <tr>
            <td>
                <div>
                <label>Job Location:</label>       
                </div>
            </td>
            <td> <%=jobData.location%>
            </td>
    </tr>

    <tr>
            <td>
                <div>
                <label>Salary:</label>       
                </div>
            </td>
            <td> <%=jobData.salary  %>
            </td>
    </tr>

    <tr>
            <td>
                <div>
                <label>Tags:</label>       
                </div>
            </td>
            <td> <%=jobData.tags %>
            </td>
    </tr>

    <tr>
            <td>
                <div>
                <label>Type:</label>       
                </div>
            </td>
            <td> <%=jobData.job_type  %>
            </td>
    </tr>

    <tr>
            <td>
                <div>
                <label>Description:</label>       
                </div>
            </td>
            <td> <%=jobData.job_description  %>
            </td>
    </tr>

    <tr>
            <td>
                <div>
                <label>Created by:</label>       
                </div>
            </td>
            <td> <%=name%>
            </td>
    </tr>
</table>
<% include ../partials/footer.ejs %>